body{
  background-color:#eef2ff;
  font-family:Arial,sans-serif;
  margin:0;
  padding:20px;
}
.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.card{
  width:350px;
  margin:20x auto;
  padding:15px;
  border-radius:12px;
  background-color:white;
  box-shadow:0px 4px 10px rgba(31, 10, 10, 0.15);
  transition:transform 0.3s ease;
}
.card:hover {
  transform: scale(1.03);
}

.card h2 {
  color: #1e40af;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #444;
}
.container h1 {
  color: #2563eb;
  margin-bottom: 10px;
}

.container h3 {
  color: #555;
  margin-bottom: 30px;
}